{
    "extends": [
        "@ekz/packer/recommended",
        "@ekz/packer/typescript"
    ],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": [
            "warn",
            {
                "allowExpressions": true,
                "allowTypedFunctionExpressions": true
            }
        ],
        "@typescript-eslint/no-use-before-define": "off",
        "react-hooks/exhaustive-deps": [
            "warn",
            {
                "additionalHooks": "(^useAsyncData$)"
            }
        ]
    },
    "env": {
        "jest": true
    },
    "ignorePatterns": ["**/lib"]
}
